$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "dataTables/media/css/dataTables.bootstrap";

@import 'navbar';
@import 'flat_style';
@import 'sidebar';
@import 'toastr/toastr.scss';

#wrapper {
  padding-left: 225px;
  height: 100vh;
}

#page-wrapper {
  padding: 50px;
  width: 100%;
  height: 100vh;
  background-color: #95a5a6;
}

.login-panel {
  margin-top: 25%;
}

.paging_full_numbers .ui-button {
padding: 2px 6px;
margin: 0;
cursor: pointer;
* cursor: hand;
}